/* FONTS */

@font-face {
  font-family: Stara-Bold;
  src: url(/fonts/Stara-Bold.otf);
}

@font-face {
  font-family: Stara-Medium;
  src: url(/fonts/Stara-Medium.otf);
}

@font-face {
  font-family: Stara-BoldItalic;
  src: url(/fonts/Stara-BoldItalic.otf);
}

@font-face {
  font-family: Stara-SemiBoldItalic;
  src: url(/fonts/Stara-SemiBoldItalic.otf);
}





/* TEXT STYLES */

h1 {
  font-family: Stara-Bold;
  font-size: 9vw;
  font-style: normal;
  line-height: 120%;
  letter-spacing: -0.4vw;
  text-transform: uppercase;
}

h2 {
  font-family: Stara-BoldItalic;
  font-size: 5.4vw;
  font-style: normal;
  line-height: 120%;
  letter-spacing: -0.3vw;
  text-transform: uppercase;
}

h3 {
  font-family: Stara-Bold;
  font-size: 1.67vw;
  font-style: normal;
  line-height: 120%;
  letter-spacing: -0.03vw;
  text-transform: uppercase;
}

h4 {
  font-family: Stara-SemiBoldItalic;
  font-size: 1.24vw;
  font-style: normal;
  line-height: 120%;
  text-transform: uppercase;
}

h5 {
  font-family: Stara-SemiBoldItalic;
  font-size: 1.11vw;
  font-style: normal;
  line-height: 120%;
  text-transform: uppercase;
}

.Text-Link {
  font-family: Stara-Medium;
  font-size: 1.24vw;
  font-style: normal;
  line-height: 120%;
  text-transform: uppercase;
}

.Text-Body {
  font-family: Stara-Medium;
  font-size: 1.11vw;
  font-style: normal;
  line-height: 140%;
}


 

/* COLOR STYLES */

:root {
  --color-background: #141414;
  --color-divider: #404040;
  --color-icon: #D9D9D9;
  --color-text-primary: #FFFFFF;
  --color-text-secondary: #808080;
}




/* GLOBAL STYLES */

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }




/* PAGE ELEMENTS */

body {
  background-color: var(--color-background);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: relative;
}

main {
  width: 100%;
  max-width: 1920px;
  display: flex;
  padding: 0px 3.2vw;
  flex-direction: column;
  align-items: center;
}

.BackgroundImg-GoldenRatio {
  width: 100%;
  position: absolute;
  z-index: -1;
}

.BackgroundImg-FooterText {
  bottom: 0px;
  width: 100%;
  position: absolute;
  z-index: -1;
}

.BackgroundImg-Top {
  width: 100%;
  position: fixed;
  z-index: -2;
}

.BackgroundImg-Bottom {
  bottom: 0px;
  width: 100%;
  position: fixed;
  z-index: -2;
}


/* CONTENT */

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16vw;
  align-self: stretch;
}

nav {
  display: flex;
  padding: 32px 0px;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
}

.Header__Logo {
  color: var(--color-text-primary);
  font-family: Stara-Medium;
  font-size: 1.24vw;
  font-style: normal;
  line-height: 24px;
  text-transform: uppercase;
}

.Header__NavLinks {
  display: flex;
  align-items: flex-start;
  gap: 40px;
}

.Header__NavLink a {
  color: var(--color-text-primary);
}

.Header__NavLink img {
  height: 0.88vw;
  margin-left: 6px;
  transition-timing-function: ease-in-out;
  transition-duration: 0.24s;
}

.Header__NavLink:hover img {
  margin-bottom: 2px;
  transition-timing-function: ease-in-out;
  transition-duration: 0.16s;
}



.Header__Content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
}

.Header__Content h1 {
  color: var(--color-text-primary);
}

.Header__ContentSubheader {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  align-self: stretch;
}

.Header__ContentSubheader__Group {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.Header__ContentSubheader__Group h2 {
  color: var(--color-text-primary);
  line-height: 70%;
}

.Header__ContentSubheader h4 {
  font-family: Stara-Medium;
  color: var(--color-text-primary);
  line-height: 100%;
  vertical-align: baseline;
  
  
}

.Header__ContentSubheader__Group h4 {
  font-family: Stara-SemiBoldItalic;
  width: 32%;
}

 


.Work {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 80px;
  margin-top: 160px;
  align-self: stretch;
}

.Work__Row {
  display: flex;
  align-items: flex-start;
  gap: 80px;
  align-self: stretch;
}

.Work__Project {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  flex: 1 0 0;
}

.Work__Project img{
  -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .6s ease-in-out;
	transition: .6s ease-in-out;
}

.Work__Project:hover img{
  -webkit-transform: scale(1.05);
	transform: scale(1.05);
}

figure {
  width: 100%;
  height: auto;
  margin: 0;
	padding: 0;
	background: #fff;
	overflow: hidden;
  transition: filter 0.7s ease;
}

.Work__ProjectImg {
  width: 100%;
  height: auto;
}

.ImgBlur {
  filter: blur(32px) brightness(48%);
  transition: filter 0.5s ease;
}

.Work__Project h4 {
  color: var(--color-text-secondary);
  margin-bottom: 12px;
}

.Work__Project h3 {
  color: var(--color-text-primary);
}

hr {
  width: 100%;
  display: block;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  border-style: solid;
  border-top: 1px;
  border-color: var(--color-divider);
}

footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 120px;
  align-self: stretch;
  margin: 80px 0px 40px 0px;
}

.Footer__Contact {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
}

.Footer__ContactMail {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}

footer h5 {
  color: var(--color-text-secondary);
}

.Footer__Contact a {
  color: var(--color-text-primary);
  text-transform: uppercase;
}

.Footer__ContactSocial {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}

.Footer__ContactSocial img {
  width: 0.84vw;
  margin-left: 6px;
  transition-timing-function: ease-in-out;
  transition-duration: 0.24s;
}

.Footer__ContactSocial a:hover img {
  margin-bottom: 2px;
  transition-timing-function: ease-in-out;
  transition-duration: 0.16s;
}

.Footer__Info {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  align-self: stretch;
}

.Footer__Info p {
  color: var(--color-text-primary);
}

.Footer__InfoAbout {
  width: calc(50% - 40px);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}
